@use "../../sass/utils/variables" as *;

.nav {
  height: 3.75rem;
  background-color: $primary-main;
  color: white;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 2rem;
}

.list {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  // background-color: red;
}

.activeTabIndicator {
  border-bottom: 0.2rem solid $grey-100;
}
